$accent: #2B4074;
$text-color: #4a4a4a;
$bg-color: #f9f6e5;


%roboto-500{
	font-family: 'Roboto-medium';
	font-weight: 500;
}
%RobotoRegular-400{
	font-family: 'Roboto-Regular';
	font-weight: 400;
}
%RobotoCondensed-400{
	font-family: 'RobotoCondensed-Regular';
	font-weight: 400
}
%RobotoCondensed-700{
	font-family: 'RobotoCondensed-Bold';
	font-weight: 700
}
%dosis-300{
	font-family: 'Dosis-Light';
	font-weight: 300;
}
%dosis-500{
	font-family: 'Dosis-Medium';
	font-weight: 500;
}